.shrikhand-heading {
    font-family: 'Shrikhand', cursive;
}


.oswald-heading {
    font-family: 'Oswald', sans-serif;
}

.mea-culpa-regular {
    font-family: "Mea Culpa", cursive;
    font-weight: 600;
    font-style: normal;
    color: #f7f5f6;
}

.mea-culpa-regular:hover {
    color: #b81c6a;
}

body {
    background-color: black;
    color: #fefbfb;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.nav-link {
    font-weight: 500;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #b81c6a;
    /* pink on hover */
}

.header {

    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
}

#port {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
}


h1 {
    font-size: 34px;
    margin: 10px 0 0 0;
    font-weight: 400;
    color: #eeeeee;
}

p {
    font-size: 12px;
    font-weight: light;
    color: #060404;
}

.description {
    background: hsla(333, 83%, 73%, 1);

    background: linear-gradient(90deg, hsla(333, 83%, 73%, 1) 0%, hsla(0, 64%, 71%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(333, 83%, 73%, 1) 0%, hsla(0, 64%, 71%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(333, 83%, 73%, 1) 0%, hsla(0, 64%, 71%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F37FB3", endColorstr="#E48484", GradientType=1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 20px;
    color: #060404;
}

p {
    font-size: 1.1rem;
    line-height: 1.7;
}

span a {
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;

    &:hover {
        color: #ffffff;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;

    img {
        width: 100%;
        height: auto;
    }
}

.content {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
}

.suppoprt-me {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 20vw;
    max-width: 250px;
    min-width: 200px;
    z-index: 9;

    img {
        width: 100%;
        height: auto;
    }
}

.main-title {
    font-size: 8rem;
    font-weight: 400;
    color: #f57fba;
    font-style: bold;
    /* pink */
    line-height: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn-group a {
    margin: 10px;
}

.icons {
    font-size: 45px;
}

.content-text {
    font-size: 0.9rem;
    color: #ccc;
}

#img {
    margin-bottom: 60px;
}

footer {
    font-size: 14px;
}